﻿@page
@model Catering.Pages.DeleteMealModel

<h1>@Model.Meal.Restaurant.Name</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meal.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meal.Name)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" name="id" value="@Model.Meal.Id"/>
        <input type="submit" asp-page-handler="Delete" value="Delete" class="btn btn-danger"/> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>