﻿@page
@model Catering.Pages.DetailsModel

<head>
    <link rel="stylesheet" href="~/css/star.css"/>
</head>

<h1>@Model.Restaurant.Name</h1>
<div>
    <hr/>
    <form method="post">

        <input type="hidden" name="meal.RestaurantId" value="@Model.Restaurant.Id">
        <label name="meal.Name">Name:</label><br>
        <input name="meal.Name"><br>

        <label name="meal.Score">Score:</label>
        <div class="rating">
            <input type="radio" id="star5" name="meal.Score" value="5" hidden/>
            <label for="star5"></label>
            <input type="radio" id="star4" name="meal.Score" value="4" hidden/>
            <label for="star4"></label>
            <input type="radio" id="star3" name="meal.Score" value="3" hidden/>
            <label for="star3"></label>
            <input type="radio" id="star2" name="meal.Score" value="2" hidden/>
            <label for="star2"></label>
            <input type="radio" id="star1" name="meal.Score" value="1" hidden/>
            <label for="star1"></label>
        </div>
        <label name="meal.Message">Message:</label><br>
        <input name="meal.Message">

        <button type="submit" asp-page-handler="AddMeal" onclick="location.reload();">Add</button>
    </form>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.Meals.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.Meals.First().Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.Meals.First().Message)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Restaurant.Meals)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => item.Name)
            </td>
            <td>
                @Html.DisplayFor(x => item.Score)
            </td>
            <td>
                @Html.DisplayFor(x => item.Message)
            </td>
            <td>
                <a asp-page="./EditMeal" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./DeleteMeal" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>


<div>
    <a asp-page="./Edit" asp-route-id="@Model.Restaurant.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>