﻿@page
@model Catering.Pages.EditMealModel

<h1>@Model.Meal.Restaurant.Name</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Meal.Id"/>
            <input type="hidden" asp-for="Meal.RestaurantId"/>
            <div class="form-group">
                <label asp-for="Meal.Name" class="control-label"></label>
                <input asp-for="Meal.Name" class="form-control"/>
                <span asp-validation-for="Meal.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meal.Score" class="control-label"></label>
                <input asp-for="Meal.Score" class="form-control"/>
                <span asp-validation-for="Meal.Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meal.Message" class="control-label"></label>
                <input asp-for="Meal.Message" class="form-control"/>
                <span asp-validation-for="Meal.Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}